<strong>Input files:</strong>
<p>
<ul>
<%%-params[:interface_userfile_ids].each do |id|-%>
  <li><%%= link_to_userfile_if_accessible(id)-%></li>
<%%-end-%>
</ul>
</p>
<%-@inputs.each do |input|-%>
<%-if input.get_type != "File"-%>
<p>
<strong><%= input.get_name-%>:</strong>
<%%= params[:<%= input.get_name%>].to_s-%>
</p>
<%-end-%>
<%-end-%>

<strong>Output files:</strong>
<%-@outputs.each do |output|-%>
<p>
<strong><%=output.get_name-%>:</strong>
<ul>
  <li><%%= link_to_userfile_if_accessible(params[:<%=output.get_name%>])-%></li>
</ul>
</p>
<%-end-%>
