dist: xenial
language: python
os: linux

services:
- docker

python:
- 3.5
- 3.6
- 3.7
- 3.8
- 3.8-dev

node_js:
- 5

env:
- SINGVER=3.5.3  # the version of docker2singularity used below should match this one

before_install:
- sudo apt-get update -qq
- sudo apt-get install -y -qq python dh-autoreconf squashfs-tools build-essential libarchive-dev
- npm install jsonlint -g 
- eval "$(curl -sL https://raw.githubusercontent.com/travis-ci/gimme/master/gimme | GIMME_GO_VERSION=1.13 bash)"
- docker build -t boutiques/example1:test ./boutiques/schema/examples/example1
- docker run -v /var/run/docker.sock:/var/run/docker.sock -v ${HOME}:/output --privileged -t --rm singularityware/docker2singularity boutiques/example1:test
- IMGNAME=$(ls $HOME/boutiques_example1_test*.simg)
- wget https://github.com/sylabs/singularity/releases/download/v$SINGVER/singularity-$SINGVER.tar.gz
- tar xvf singularity-$SINGVER.tar.gz
- cd singularity
- ./mconfig --prefix=/usr/local --sysconfdir=/etc
- make -C ./builddir
- cd ${TRAVIS_BUILD_DIR}/
- mv ${IMGNAME} ./boutiques-example1-test.simg
- docker version # Docker installation check
- singularity version # Singularity installation check

install:
- pip install --upgrade setuptools
- pip install "jsonschema>=2.6.0,<3.0.0"
- pip install pytest pytest-runner pycodestyle coveralls
- pip install .
- pip freeze

script:
- pycodestyle --max-line-length=80 boutiques/*.py boutiques/tests/*.py
- jsonlint -q boutiques/schema/descriptor.schema.json
- coverage run --source boutiques setup.py pytest
- coverage report -m

after_success:
- coveralls

deploy:
