argparse==1.4.0
boutiques==0.5.7
certifi==2018.4.16
chardet==3.0.4
idna==2.6
jsonschema==2.5.1
linecache2==1.0.0
ordereddict==1.1
py==1.4.34
pytest==3.2.5
repoze.lru==0.7
requests==2.18.4
simplejson==3.13.2
six==1.11.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.22
