---
name: test

on:
    push:
        branches:
        -   master
        -   develop
    pull_request:

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

    # Force to use color
env:
    FORCE_COLOR: true

jobs:
    test:
        name: Test with ${{ matrix.py }} on ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                py: ['3.13', '3.12', '3.11', '3.10', '3.9']
                os: [ubuntu-latest, macos-latest]

        runs-on: ${{ matrix.os }}

        steps:
        -   name: Checkout
            uses: actions/checkout@v5

        -   name: Get apptainer
            # apptainer only supported on linux
            if: matrix.os == 'ubuntu-latest'
            uses: eWaterCycle/setup-apptainer@v2
            with:
                apptainer-version: 1.3.0
        -   name: Build docker and apptainer images
            if: matrix.os  == 'ubuntu-latest'
            run: make boutiques-example1-test.simg

        -   name: Setup python
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.py }}
                allow-prereleases: false

        -   name: Install dependencies
            run: |
                pip install -U pip
                pip install .[all]

        -   name: Run tests
            run: |
                python -m pytest --cov=boutiques --cov-report=xml

        -   name: Upload coverage reports to Codecov
            uses: codecov/codecov-action@v5
            with:
                token: ${{ secrets.CODECOV_TOKEN }}
